<div class="post-preview">
    <a href="<%- config.root %><%- item.path %>">
        <h2 class="post-title">
            <%- item.title || theme.default_post_title || "Untitled" %>
        </h2>
        <% if (item.subtitle && item.subtitle.length) { %>
            <h3 class="post-subtitle">
                <%- item.subtitle %>
            </h3>
        <% } %>
    </a>
    <p class="post-meta">
        <!-- Date and Author -->
        <% if(item.author) { %>
            Posted by <%- item.author %> on
        <% } %>
        <%= item.date.format(config.date_format) %>
        <%- item.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- config.root %><%- item.path %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
    </p>
</div>
<hr>